[project]
	description = Linux Core Code
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/apolloliu
[access "refs/for/refs/*"]
	read = group user/apolloliu
	push = group user/apolloliu
	label-Code-Review = -2..+2 group user/apolloliu
	label-Verified = -1..+1 group user/apolloliu
	rebase = group user/apolloliu
	removeReviewer = group user/apolloliu
	submit = group user/apolloliu
[access "refs/heads/*"]
	read = group user/apolloliu
	create = group user/apolloliu
	push = +force group user/apolloliu
	pushMerge = group user/apolloliu
[access "refs/tags/*"]
	push = +force group user/apolloliu
	pushTag = group user/apolloliu
	pushSignedTag = group user/apolloliu
